@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  /* width: 1440px;
  height: 900px; */
  background-color:#121826;
}
